<link rel="canonical" href="{{ .Permalink }}" >
{{ $outputFormat := partial "outputformat.html" . -}}
{{ if and hugo.IsProduction (ne $outputFormat "print") -}}
<meta name="robots" content="index, follow">
{{ else -}}
<meta name="robots" content="noindex, nofollow">
{{ end -}}
<meta name="description"        content="{{ template "partials/page-description.html" . }}">
{{- with .Params.tags }}
<meta name="keywords"           content="{{ delimit . ", "}}" >{{ end }}
<!-- OG data -->
{{- template "_internal/opengraph.html" . }}
{{- range .Params.categories }}
  <meta property="article:section" content="{{ . }}" >{{ end }}
{{- if .IsPage }}
  <meta property="article:author" content="{{ .Params.si.accountUrl | default .CurrentSection.Params.p20.accountUrl }}" >
{{- end }}
{{- if .Params.img }}
  {{- with .Resources.Match .Params.img }}
    {{- range . }}
<meta property="og:image"       content="{{ .RelPermalink }}" >
<meta property="og:image:alt"   content="{{ .Site.Params.defaultImageALT }}.">
    {{- end }}
  {{- else }}
<meta property="og:image"       content="{{ .Site.BaseURL }}images/{{ .Params.img }}" >
<meta property="og:image:alt"    content="{{ .Params.imgALT }}">
  {{- end }}
{{- else }}
<meta property="og:image"       content="{{ .Site.BaseURL }}images/{{ .Site.Params.defaultImage }}">
<meta property="og:image:alt"     content="{{ .Site.Params.defaultImageALT }}">
{{- end }}
{{- with .Params.podcast.audio }}
<meta property="og:audio"       content="{{ $.CurrentSection.Params.URLprefix }}{{ . }}.mp3" >
<meta property="og:audio:type"  content="audio/mpeg" >
{{- end }}
{{- with .Site.Params.author.relme }}
<link rel="me" href="{{ . }}">{{ end }}
<!-- JSON-LD -->
<script type = "application/ld+json"> {
  "@context": "https://schema.org/",
  "@type": "PodcastSeries",
  "accessMode": "auditory",
{{- with index (.CurrentSection.Params.itunes.category) 0 }}
  {{- range $key, $value := . }}
  "genre": "{{ $key }}",
  {{- end }}
{{- end }}
  "headline": "{{.CurrentSection.Params.title | default .Title }}",
{{- with .Site.LanguageCode }}
  "inLanguage": "{{ . }}",{{- end }}
  "publisher": "{{ $.Site.Params.builtBy | default .Params.author }}",
  "encodingFormat": "audio/mpeg",
  "name": "{{.CurrentSection.Params.title | default .Title }}",
  "description": "{{.CurrentSection.Params.description | default $.Site.Params.Tagline }}",
  "image": "{{ .CurrentSection.Permalink | default .Site.BaseURL }}{{ .CurrentSection.Params.podcast_image | default "android-chrome-512x512.png" }}",
  "url": "{{ .CurrentSection.Permalink | default .Permalink}}",
{{- with $.CurrentSection.Params.p20.guid }}
  "identifier": "{{.}}",{{ end }}
{{ range $index, $element := .Site.Params.relfeeds -}}
  "webFeed": "{{ $element }}",{{- end }}
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.builtBy }}"
  {{- if or ( .Params.si.accountUrl ) ( .CurrentSection.Params.p20.accountUrl ) }},
    "url": "{{ .Params.si.accountUrl | default .CurrentSection.Params.p20.accountUrl }}"
  {{- end -}}
  }
} </script>

{{- if .IsHome }}
{{- with .Site.Params.author.name }}
<meta name="author"            content="{{ . }}">{{ end }}
{{- with .Site.Params.author.fediverse }}
<meta name="fediverse:creator" content="{{ . }}">{{ end }}

<script type="application/ld+json"> { 
  "@context": "http://schema.org", 
  "@type": "WebSite", 
  "url": "{{ .Permalink }}", 
  "name": "{{ .Site.Title }}",
  "author": {
      "@type": "Person",
      "name": "{{ .Site.Params.author.name }}"
    },
  "description": "{{ template "partials/page-description.html" . }}"
}
</script>
{{- end }}
{{- if .IsPage }}
{{- with .Params.author }}
<meta name="author"            content="{{ . | default $.Site.Params.author.name }}">{{ end }}
{{- with .CurrentSection.Params.author.fediverse }}
<meta name="fediverse:creator" content="{{ . }}">{{ end }}
<script type="application/ld+json"> { 
    "@context": "http://schema.org", 
    "@type": "BlogPosting",
    "headline": "{{ .Title }}",
    "genre": "{{ range .Params.categories }}{{ . }}{{ end }}",  
    "url": "{{ .Permalink }}",
    "datePublished": "{{ time .Date }}",
    "description": "{{ template "partials/page-description.html" . }}",
    "author": {
        "@type": "Person",
        "name": "{{ .Site.Params.builtBy }}",
        "url": "{{ .Params.si.accountUrl | default .CurrentSection.Params.p20.accountUrl }}"
    }
}
</script>
{{- end }}
