{{- $summary := "" }}
{{- $open := false }}
{{- if .IsNamedParams }}
    {{- $summary = .Get "summary" }}
    {{- with .Get "open" }}{{ $open = . }}{{ end }}
{{- else }}
    {{- $summary = .Get 0 }}
    {{- with .Get 1 }}{{ $open = . }}{{ end }}
{{- end }}
<details {{ if $open }}open{{ end }}>
    <summary>{{ $summary }}</summary>
    <pre>
        <code>{{- .Inner -}}</code>
    </pre>    
</details>